<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            /WEB-INF/spring.xml
        </param-value>
	</context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

	<!-- Servlets -->
	<servlet>
		<servlet-name>umMesServlet</servlet-name>
		<servlet-class>net.ibmemorial.ummes.server.ServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>umMesServlet</servlet-name>
		<url-pattern>/ummesparaviver/umMes</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>home.html</welcome-file>
	</welcome-file-list>

	<resource-ref>
		<description>Datasource</description>
		<res-ref-name>jdbc/datasource</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

</web-app>
